html, body {
    margin: opx;
    background-color: #2F4F50;
    color: white;
}
.titulo {
    text-align: center;
    background-color: blue;
    padding: 20px;
    font-size: 25px;
}

.carta {
    width: 150px;
    position: relative;
    left: 100px;
    margin-left: -80px;
}

#computador-cartas, #jugador-cartas {
    height: 250px;
}